body{
background: black;
}
div {
    width: 100%;
}
.fst_row{
    height: 5%;
    text-align: center;
    width: 100%;
    background-color: rgb(209, 21, 21);
}
.snd_row {
    height: 92%;
    background-color: grey;
}
.footer_row{
    height: 3%;
    background-color: rgb(17, 182, 72);
}