body{
background: black;
}
div {
    width: 100%;
}
.navbar{
    top:0;
    position: -webkit-sticky;
    position: sticky;
    width: fit-content;
    height: auto;
    text-align: center;
    background-color: rgb(14, 11, 11);
    color: aliceblue;
    margin-bottom: 0.5em;
    margin-top: -0.5em;
}
.navbar li {
    display: inline-block;
    font-size: 1.25em;
    padding: 0.1em;
  }
  .navbar li:nth-child(n+1):not(:last-child)::after {
    content: " |";
  }
  a:hover{
    background-color: rgb(49, 45, 45);
  }
  a{
    text-decoration: none;
  }
  a:visited{
    color: rgb(42, 160, 105);
  }
.page_main {
    height: auto;
    background-color: rgba(255, 255, 255, 0.774);
    margin-bottom: -0.5em;
}
.image{
    display: inline-block;
    vertical-align: middle;
}
.page_main ul li {
    padding-top: 0.5em;
}
.page_main h2{
text-align: center;
}
.desc li{
    display: inline-block;
}
.mastery_desc{
    color: rgb(156, 4, 156);
}
.footer_list{
    height: 5%;
    background-color: rgb(17, 182, 72);
    text-align: center;
}
.footer_list li{
    display: inline-block;
    font-size: 0.75em;
    padding: 0.1em;
}